html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow-y: hidden;
}

li {
    margin: 5px 0;
    padding: 2px 5px;
}

#p5js-container {
    margin: 0;
    padding: 0;
}

#p5js-container canvas {
    margin: 0;
    padding: 0;
}

.nav {
    margin-bottom: 20px;
    background-color: rgb(51, 51, 51);
    font-size: 1.5rem;
}

.nav-btn {
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
    border: 0;
    outline: 0;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    background-color: inherit;
    color: inherit;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.config {
    cursor: default;
}

.dropdown ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: white;
    padding: 0.5rem;
}

.dropdown:hover ul {
    display: block;
}

.inactive {
    color: gray !important;
    cursor: default !important;
}

.inactive ul {
    display: none !important;
}

.hidden {
    display: none !important;
}

#sorting-algorithms li:hover {
    background-color: rgb(80, 80, 80);
}

input[type="text"] {
    background-color: rgb(80, 80, 80);
    outline: none;
    color: white;
}

::placeholder {
    color: white;
}

.dropdown:hover,
.nav-btn:hover {
    color: green;
}
